*{
    margin: 0%;
    padding: 0%;
}

.separador{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../Imagens/separador1.png);
    background-repeat: no-repeat;
    background-position-y: -1%;
    z-index: 1;
    margin: 0%;
    padding: 0px! important;
   
}

.separador-2{
    width: 100%;
    height: 20%;
    position:absolute;
    background-image: url(../Imagens/separador2.png);
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0px! important;
    background-position-y: -3%;
}

ul{
    padding: 0px! important;
}

body{
    width: 100%;
    height: 100%;
}

main {
    margin: 0 auto;
    width: 100%;
}

.menu-principal {
    width: 100%;
    background-color:dodgerblue;
    height: 3cap;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-1{
   width: 80%;
   
}

.icones ul li{
    list-style: none;
    display: inline;
    padding: 0.5%;
    float: right;
}

.icones ul li a img{
    width: 100%; 
}


.main-2{
    width: 100%;
    height: 6cap;
    border-bottom: 3px solid rgb(236, 236, 236);
    align-items: center;
}

.header-2{
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 1.5%;
}

.logo{
    width: 5%;
    float: left;
    position: relative;
    bottom: 13px;
}
.logo img{
    width: 100%;
}

.menu{
    width: 70%;
    float: left;
}

.menu ul li{
    color: gray;
    display: inline-block;
    margin-left: 4%;  
}

.menu ul li:hover{
    border-bottom: 2px solid dodgerblue;
}

.menu ul li a:hover{
    color: dodgerblue;  
}

.menu ul li a{
    font-family: "Nunito", sans-serif;
    color: gray;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    
}

.busca{
    width:20%;
    float: right;
}

.busca input{
    width: 100%;
    height: 25px;
    padding-left: 10px;
    background-image: url('../Imagens/search.png');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 7%;
    border: 1px solid rgb(218, 218, 218);
}

.main-3{
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    
}


.slider-cabecalho img{
    width: 100%;
    

}


button.slick-prev {
    font-size: 0px;
    border: none;
    width: 20px;
    height: 40px;
    background: transparent;
    z-index: 1;
    position: absolute;
    background-image: url("../Imagens/seta_Anterior.png");
    background-repeat: no-repeat;
    left: 5%;
    top: 45%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 20px;
    height: 40px;
    background: transparent;
    z-index: 1;
    position: absolute;
    background-image: url("../Imagens/seta_proximo.png");
    background-repeat: no-repeat;
    bottom: 47.5%;
    left: 93%;
}

.slick-dots li button{
    font-size: 0%;
    border: 2px solid rgb(185, 185, 185);
    background-color: transparent;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  
    
}



.slick-dots{
    width: 10%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    position: absolute;
    bottom: 5%;
    cursor: pointer;
    
    
}

.slick-dots li{
    display: inline-block;
    padding: 5%;
    
}

li.slick-active button{
    background-color:dodgerblue;
}

.main-4{
    margin: 0;
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito", sans-serif;
    color: rgb(109, 109, 109);
    font-size: 18px;
    background-color: aqua;
}

.chape-1{
    width: 10%;
    position: relative;
    top: -15%;
    
}

.rar-1{
    margin: 0;
    width: 90%;
    position: relative;
    top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.texto-1{
    width: 60%;
    text-align: justify;
    position: relative;
    float: left;
    padding-top:5% ;
}
.texto-1 h1{
    width: 100%;
    font-weight: bold;
}
.pc{
    width: 35%;
    position: relative;
    right: 4%;
    float: right;
    padding-top: 10%;
    padding-left: 0%;
    
}
.pc img{
    width: 100%;
}

.main-5{
    
    background-color: bisque;
}

